# Ignore common Ruby on Rails files
.bundle/
/vendor/bundle/
/log/*.log
/tmp/
/public/assets
/node_modules/
.byebug_history
.DS_Store
.env
/config/master.key # Keep your master.key secure, do NOT commit!

# Ignore Docker related files/directories
/vendor/bundle # If you're bundling into vendor
/data # For PostgreSQL data if it's mounted into your app directory
/nginx_logs # If Nginx logs are mounted into your app directory
/.dockerignore # It's good practice to keep this, but if you don't want it in git, add it here too.

# For Docker Compose
docker-compose.override.yml # If you use this for local overrides you don't want to commit
*.bak

# Editor specific ignores
.idea/
.vscode/
*.swp
*~
.DS_Store
# Rails encrypted credentials master key
/config/master.key
